.GameName {
	font-weight: bold;
	font-size: 12px;
}

.GamesInfoIcon,
.GenreIcon,
.GearIcon {
	margin-top: 1px;
	margin-right: 1px;
	position: relative;
	top: 3px;
}

div.GamesInfoIcon {
	height: 14px;
	width: 16px;
	display: inline-block;
	top: 0;
	padding: 0;
	margin-right: 3px;
}

.AllowedGearRepeater_Container div.GamesInfoIcon {
	background: url(/images/CategoryIcons/CategorySprite.png);
}

.AssetGenreRepeater_Container div.GamesInfoIcon {
	background: url(/images/GenreIcons/GenreIconsSprite.png);
	height: 14px;
}

.AllowedGearRepeater_Container,
.AssetGenreRepeater_Container {
	clear: both;
	padding-top: 1px;
	padding-bottom: 1px;
}

.AllowedGearRepeater_Container div,
.AssetGenreRepeater_Container div {
	float: left;
	position: relative;
	top: .25em;
	padding-top: 1px;
	padding-bottom: 1px;
}

div.GamesInfoIcon.Melee {
	background-position: 48px 0;
}

div.GamesInfoIcon.Ranged {
	background-position: 64px 16px;
}

div.GamesInfoIcon.Explosive {
	background-position: -16px 0;
}

div.GamesInfoIcon.PowerUps {
	background-position: -16px -16px;
}

div.GamesInfoIcon.Navigation {
	background-position: 16px 0;
	z-index: inherit;
}

div.GamesInfoIcon.Music {
	background-position: 32px 0;
}

div.GamesInfoIcon.Social {
	background-position: 48px 16px;
}

div.GamesInfoIcon.Building {
	background-position: 0 0;
}

div.GamesInfoIcon.PersonalTransport {
	background-position: 0 16px;
}

div.GamesInfoIcon.Adventure {
	background-position: 0 0;
}

div.GamesInfoIcon.War {
	background-position: 16px -3px;
}

div.GamesInfoIcon.Funny {
	background-position: 32px 0;
}

div.GamesInfoIcon.Scary {
	background-position: 49px 0;
}

div.GamesInfoIcon.Fantasy {
	background-position: -16px 0;
}

div.GamesInfoIcon.Town.City {
	background-position: -32px 0;
}

div.GamesInfoIcon.All {
	background-position: -47px 1px;
}

div.GamesInfoIcon.Ninja {
	background-position: 0 16px;
}

div.GamesInfoIcon.Wild.West {
	background-position: 16px 15px;
}

div.GamesInfoIcon.Tutorial {
	background-position: 32px 16px;
}

div.GamesInfoIcon.Sports {
	background-position: 49px 16px;
}

div.GamesInfoIcon.Pirate {
	background-position: -16px 16px;
}

div.GamesInfoIcon.Sci-Fi {
	background-position: -32px 16px;
}

div.GamesInfoIcon.Skate.Park {
	background-position: -48px 16px;
	width: 15px;
}

div.GamesInfoIcon.FPS {
	background: url(/images/GenreIcons/FPS.png) no-repeat;
	height: 16px;
}

div.GamesInfoIcon.RPG {
	background: url(/images/GenreIcons/RPG.png) no-repeat;
	height: 16px;
}

.SearchBoxBack .StandardBox {
	background: #6e99c9;
}

.GameFilter {
	color: #555;
	font-size: 14px;
}

.GameFilter ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.GameFilter ul li {
	margin: 5px 0;
}

.GameFilter .SelectedFilter,
.GameFilter .SelectedGenre,
.GameFilter .SelectedSort {
	background: url(/images/gamesPage_filterArrow.png) no-repeat 0 1px;
	cursor: pointer;
	padding-left: 20px;
	font-weight: normal;
}

.GameFilter .GamesFilter,
.GameFilter .GamesGenre,
.GameFilter .GamesSort {
	padding-left: 20px;
	display: inline-block;
}

.GamesGenre a {
	display: inline-block;
	cursor: pointer;
	font-weight: normal;
	font-size: 15px;
}

#PlayTabs a {
	text-decoration: none;
}

.SelectedFilter,
.SelectedGenre,
.SelectedSort {
	font-weight: normal;
}

a.DisabledFilter,
a.DisabledFilter:hover {
	color: gray;
	text-decoration: none;
	cursor: default;
}

a.GamesGenre.DisabledFilter a,
a.GamesGenre.DisabledFilter:hover a {
	cursor: default;
}

#Games .clear {
	clear: both;
	overflow: visible;
}

#BCOnlyPlaces {
	float: left;
	height: 248px;
	margin-left: 15px;
	position: relative;
	width: 420px;
}

#BCOnlyPlaces .BCHat {
	position: absolute;
	top: -4px;
}

#BCOnlyPlacesTitle {
	display: inline;
	font-weight: bold;
	font-size: 19px;
	position: relative;
}

#BCOnlyPlaces .content {
	width: 100%;
	height: 188px;
	padding-top: 40px;
}

#BCOnlyGamesContent {
	width: 340px;
	margin: auto auto;
}

#BCOnlyGamesContentPrevNavButton {
	position: absolute;
	top: 90px;
	left: 10px;
}

#BCOnlyGamesContentNextNavButton {
	position: absolute;
	top: 90px;
	right: 10px;
}

#GenreDescriptionPanel {
	float: left;
	width: 770px;
	font-size: .9em;
	padding: 10px;
	border-top: 1px solid #AAA;
}

.SearchIconButton {
	background: url(/images/searchIcon.png) no-repeat;
	cursor: pointer;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 5px;
	right: 4px;
}

.GameItem {
	padding: 0 5px 20px 5px;
	position: relative;
	text-align: left;
}

.GameItem:hover {
	display: block;
	z-index: 99;
}

.GameItem .AlwaysShown {
	position: relative;
	width: 160px;
	height: 130px;
}

.GameItem:hover .AlwaysShown {
	z-index: 999;
}

.GameItem .HoverShown {
	display: none;
	position: absolute;
	width: 160px;
	padding: 158px 15px 15px;
	top: -15px;
	left: -10px;
	border: solid 1px #888;
	background: #fff;
	font-size: 11px;
	text-align: left;
	color: #888;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.GameItem .CreatorName {
	position: relative;
	font-size: 11px;
	color: #888;
	top: -5px;
}

.GameItem .BCOverlay {
	position: absolute;
	top: 81px;
	left: 0;
}

.PersonalServerOverlay_Small {
	position: absolute;
	bottom: 1px;
	right: 1px;
	width: 34px;
	height: 18px;
	background-image: url('/images/icons/overlay_personal_small.png');
	background-repeat: no-repeat;
}

.PersonalServerOverlay_Big {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 137px;
	height: 38px;
	background-repeat: no-repeat;
	background-image: url('/images/icons/overlay_personal_big.png');
}

.GameItem .MegaOverlay {
	position: absolute;
	top: 81px;
	right: 0;
}

.GameItem .GenreIcon,
.GameItem .GearIcon {
	position: static;
	top: 0;
	margin-top: 0;
	margin-right: 0;
}

#GamesLeftColumn {
	background: none;
	border: none;
	padding: 9px 0;
	width: 126px;
}